

/* * {box-sizing: border-box;} */
body{
  /* background-image: linear-gradient(to right,#37474f,gray);  */
  /* border-radius: 5px; */
}
.container{
  /* font-family:Brush Script MT, Brush Script Std, cursive; */

  /* background-image: linear-gradient(to right,#37474f,gray); */
 
  
}
/*-----------------------------------------navigation-----------------------------------------------------------------------------------------*/
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #37474f;
  color: white;
}

.topnav a.active {
    background: linear-gradient(#37474f 5%, #778899 100%);
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/*button class----------------------------------------------------------------------------------------------------------------------*/
/* #myBtn{
  background-color: none;
} */

  /*see more-----------------------------------------------------------------------------------*/
  #more {display: none;}
  /*footer------------------------------------------------------------------*/
 
 /**div right and left--------------------------------------------------------------------*/
 .main{


 }
 .left {
    float:left;
    

}

.right {
    float:right;
    font-family:Brush Script MT, Brush Script Std, cursive;
    color:	#000000;

}
.center {
  float:center;
  
}
/* game-paortal */
.gamePortal{
  display: none;
}

/* sign up ---------------------------------------------------------------------------------------------------------------- */

input[type=text],input[type=password] {
  
  padding: 1px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 0 5px #778899 ;
  border: 2px solid #778899 ;
}


/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #f1f1f1;
  outline: none;
}


/* Set a style for all buttons */
button {
  /* background: #37474f; */
  border: 2px solid linear-gradient(#778899 5%, #778899 100%);
}

button:hover {
  opacity:1;
  /* background-color:#37473f */
  background: linear-gradient(#37474f 5%, #778899 100%);
  color:white;
}

/* Extra styles for the cancel button */
.cancelbtn {
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
 
}

/* Add padding to elements */
.signupform {
  padding: 10px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-image: linear-gradient(to right,gray,black );
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  /* background-color: #fefefe; */
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #333;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
/*-------------------------------------------------------------end sign up button------*/
/* test login */
.gameportal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-image: linear-gradient(to right,gray,black );
  padding-top: 50px;
}

/* Modal Content/Box */
.gameportal-content {
  /* background-color: #fefefe; */
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #333;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
.responsiveImage {
  width: 100%;
  height: auto;
}